# RED WINE QUALITY - Thống kê mô tả

## Import thư viện

In [1]:
import numpy as np
import pandas as pd
from scipy import stats

## Đọc dữ liệu

In [2]:
wine = pd.read_csv("./data/winequality-red.csv")
wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

## Kiểm tra thông tin dữ liệu

In [3]:
wine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

Chọn cột alcohol để phân tích vì nó:

- Liên quan trực tiếp đến chất lượng rượu.

- Có phân bố rộng, nhiều biến động.

- Tương quan rõ rệt với quality.

- Dễ giải thích và minh họa các chỉ số thống kê.

## Tính mean, median, mode, variance, standard deviation, range, percentile, quartile, interquartile range (IQR) (alcohol)

In [4]:
# Mean
wine_mean = np.mean(wine["alcohol"])
print("Mean:", wine_mean)

# Median
wine_median = np.median(wine["alcohol"])
print("Median:", wine_median)

# Mode
wine_mode = stats.mode(wine["alcohol"])
print("Mode:", wine_mode)

# Variance
wine_variance = np.var(wine["alcohol"])
print("Variance:", wine_variance)

# Standard Deviation
wine_sd =  np.std(wine["alcohol"])
print("Std:", wine_sd)

# Max
wine_max = np.max(wine["alcohol"])
print("Max:", wine_max)

# Min
wine_min = np.min(wine["alcohol"])
print("Min:", wine_min)

# Range
wine_range = wine_max - wine_min
print("Range:", wine_range)

# Percentile 
wine_percentile_60 = np.percentile(wine["alcohol"], 60)
print("60th percentile:", wine_percentile_60)

# Quartile
wine_quartile = np.quantile(wine["alcohol"],0.75)
print("Quartile:", wine_quartile)

# IQR
wine_IQR = stats.iqr(wine["alcohol"])
print("IQR:", wine_IQR)

Mean: 10.422983114446529
Median: 10.2
Mode: ModeResult(mode=np.float64(9.5), count=np.int64(139))
Variance: 1.1349371714888994
Std: 1.0653343003437463
Max: 14.9
Min: 8.4
Range: 6.5
60th percentile: 10.5
Quartile: 11.1
IQR: 1.5999999999999996

- Mean: độ cồn trung bình của các mẫu rượu.

- Median: nửa số chai có độ cồn thấp hơn, nửa còn lại cao hơn.

- Mode: mức độ cồn xuất hiện nhiều nhất.

- Variance: độ chênh lệch về độ cồn giữa các mẫu.

- Standard deviation: trung bình mỗi chai lệch bao nhiêu đơn vị cồn so với mean.

- Min/Max: độ cồn thấp nhất và cao nhất.

- Range: khoảng chênh giữa chai có độ cồn cao nhất và thấp nhất.

- Percentile (60%): 60% số chai có độ cồn ≤ giá trị này.

- Quartiles (Q1, Q2, Q3): chia dữ liệu thành 4 nhóm theo độ cồn.

- IQR (Q3 – Q1): độ phân tán của 50% mẫu rượu nằm giữa.

## Xử lý dữ liệu

## Loại bỏ dữ liệu trùng lặp

In [5]:
wine_duplicate = wine.drop_duplicates()
wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

## Thay thế dữ liệu và thay đổi định dạng của dữ liệu

In [6]:
# Thay đổi cột quality -> phân loại Low/Medium/High
wine['quality_replaced'] = wine['quality'].replace(
    [3,4,5,6,7,8],
    ['Low','Low','Medium','Medium','High','High']
)

# Đổi kiểu dữ liệu: alcohol từ float sang int
wine['alcohol_changed'] = wine['alcohol'].astype(int)
wine

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,quality_replaced,alcohol_changed
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,Medium,9
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,Medium,9
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,Medium,9
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,Medium,9
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,Medium,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5,Medium,10
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6,Medium,11
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6,Medium,11
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5,Medium,10
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6,Medium,11

## Xử lý dữ liệu thiếu

In [7]:
# Kiểm tra missing
print(wine.isnull().sum())
# Điền thiếu bằng median
wine['pH'] = wine['pH'].fillna(wine['pH'].median())
# Drop missing nếu cần
wine_withoutna = wine.dropna(how='any')
wine

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
quality_replaced        0
alcohol_changed         0
dtype: int64

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,quality_replaced,alcohol_changed
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,Medium,9
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,Medium,9
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,Medium,9
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,Medium,9
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,Medium,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5,Medium,10
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6,Medium,11
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6,Medium,11
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5,Medium,10
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6,Medium,11